/**** Base styles ****/

body { 
  background:url(bg.gif) 0 0 repeat #f7f5f5;
  font-size:1em;
}

a {
  color: #555555;
  text-decoration: none;
  font-size:80%;
}

a:hover {
  color: #D26;
  text-decoration:underline;
}


/*Masonry Grid CSS*/

.message
{
	word-wrap:break-word;
}

ol { padding-left: 1.3em;}

.hidden { display: none; }

#container {
  background:url(bg.gif) 0 0 repeat #f7f5f5;
  margin-bottom: 20px;
  clear: both;

}

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  background: #fff;
  border:solid 1px #cccccc;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  max-width: 30%; 
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

/*Vary the width of box by changing col index number */

.col1 { width: 300px; padding:5px;}
.col1 img { max-width: 300px; }

.col2 { width: 220px; padding:5px;}
.col2 img { max-width: 220px; }


/* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */

/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
